.chatbox-window-container {
  background-color: rgb(238, 237, 237);
  padding: 0.2rem;
}

.chatbox-window {
  height: 200px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.chabox-message-div {
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid;
  border-radius: 1rem;
}

.chatbox-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.chatbox-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
}